.hello {
    position: relative;
    background-image: url("../images/earth.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 500px;
}

.hello .text {
    bottom: 0;
    color: brown;
    font-family: verdana !important;
    font-size: 40pt !important;
    font-weight: bold;
    position:absolute;
    text-shadow: 0 0 5px #000;
}